<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>스터디 현황</title>

        <link rel="stylesheet" href='/static/css/currentStudy.css'>

    </head>
    <body>
        <div>
            <h2>스터디 현황</h2>
            <div id="map"></div>
        </div>

        <button onclick="location.href='http://127.0.0.1:8000/test'">내 주변 스터디카페</button >
        <style>
            button {
                position: absolute;
                top: 10%;
                left: 71%;
            }
        </style>

        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e5546ce50e2833e4db42b281b4b23109"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao
                        .maps
                        .LatLng(37.32191219571723, 127.12659496708484), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao
                .maps
                .Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커를 표시할 좌표 및 스터디 카페 배열입니다
            var positions = [
                {
                    title: '가온스터디카페 단국대점',
                    latlng: new kakao
                        .maps
                        .LatLng(37.3242453135971, 127.12499957742214),
                    study: '3'
                }, {
                    title: '올라스터디카페 죽전단국대점',
                    latlng: new kakao
                        .maps
                        .LatLng(37.32401743807667, 127.12319963646706),
                    study: '2'
                }, {
                    title: '스터디카페 열린공간',
                    latlng: new kakao
                        .maps
                        .LatLng(37.325846926739615, 127.11840179027612),
                    study: '1'
                }, {
                    title: '그루스터디카페 수지죽전센터',
                    latlng: new kakao
                        .maps
                        .LatLng(37.32623895413185, 127.11832342535088),
                    study: '0'
                }, {
                    title: '뚝심스터디카페',
                    latlng: new kakao
                        .maps
                        .LatLng(37.32853768810886, 127.11491950165352),
                    study: '6'
                }, {
                    title: '화이트펜슬스터디카페 용인죽전점',
                    latlng: new kakao
                        .maps
                        .LatLng(37.32616968721167, 127.11314166670587),
                    study: '2'
                }, {
                    title: '혼공스터디카페 죽전점',
                    latlng: new kakao
                        .maps
                        .LatLng(37.327224138468424, 127.11288655925219),
                    study: '1'
                }
            ];

            for (var i = 0; i < positions.length; i++) {

                // 지도에 표시할 원을 생성
                var circle = new kakao
                    .maps
                    .Circle({
                        center: positions[i].latlng, // 원의 중심좌표 입니다
                        radius: 20, // 미터 단위의 원의 반지름입니다
                        strokeWeight: 5, // 선의 두께입니다
                        strokeColor: '#734A32', // 선의 색깔입니다
                        strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'double', // 선의 스타일 입니다
                        fillColor: '#D9AE79', // 채우기 색깔입니다
                        fillOpacity: 0.9 // 채우기 불투명도 입니다
                    });

                // 지도에 원을 표시합니다
                circle.setMap(map);

                // 커스텀 오버레이를 생성합니다
                var customOverlay = new kakao
                    .maps
                    .CustomOverlay(
                        {map: map, position: positions[i].latlng, content: positions[i].study, yAnchor: 0.6}
                    );

            }
        </script>
    </body>
</html>