<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/static/css/home.css'>

</head>
<body>
    <div class="container">
        {% for blog in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{blog.name}}<h5>
                <p>{{blog.address}}</p>
                <p>{{blog.star_rating}}</p>
                <p>{{blog.review}}</p>
                <p>{{blog.time}}</p>
                <p>{{blog.phone_number}}</p>
                </div>
            </div>
            {%endfor%}

        {% if posts.has_previous %}
        <a href="?page=1">맨 앞</a>
        <a href="?page={{posts.previous_page_number}}">이전</a>
        {% endif %}
        <span>{{posts.number}}</span>
        <span>/</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">다음</a>
        <a href="?page={{posts.paginator.num_pages}}">맨 뒤</a>
        {% endif %}
    </div>

</body>
</html>