<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>스터디카페 찾기</title>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href='/static/css/studycafeMap.css'>
    </head>
    <body>
        <!-- <div class="home">
        <a href="/"><img class="homebtn" src="/static/images/homebtn.png"/></a></div>
        <h2>스터디카페 찾기</h2>-->
        <div class="top-bar">
            <a href="/"><img class="home-btn" src="/static/home-img.png"></a>        
            <h2>스터디카페 찾기</h2>
        </div>

        {% comment %}
        <div class="container" style="margin-top: 150px;">
            <div class="studybtn" align="right">
                <button onclick="location.href='/scainfo/all/'">목록으로 보기</button>
                <button onclick="location.href='/study/'">개설 스터디 현황</button>
            </div>
        </div>
        {% endcomment %}

        <!-- {% comment %}
        <div class="studybtn" align="right">
            <button onclick="location.href='/scainfo/all/'" >목록으로 보기</button >
            <button onclick="location.href='/study/'" >개설 스터디 현황</button >
        </div>
        {% endcomment %} -->


        <div class="info"><p>클릭 시 길찾기 페이지로 이동합니다.</p></div>
        <div id="map"></div>
        
        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e5546ce50e2833e4db42b281b4b23109&libraries=services">
        </script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao
                        .maps
                        .LatLng(37.32191219571723, 127.12659496708484), // 지도의 중심좌표
                    level: 4 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao
                .maps
                .Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao
                .maps
                .services
                .Geocoder();

            {% comment %} var sca = new Array();
            let sca_dict = {};
            {% for studycafe in studycafe %}
                sca_dict = {
                    'name': '{{studycafe.name}}',
                    'address': '{{studycafe.address}}'
                };
                sca.push(sca_dict);
            {% endfor %} {% endcomment %}
            {% comment %} var address={{studycafe.address}};
            document.write(address); {% endcomment %}



            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "/static/images/marker.png";

            //sca.forEach(function (scainfo) { //추가한 코드
                // 주소로 좌표를 검색합니다
                geocoder.addressSearch("{{studycafe.address}}", function (result, status) {

                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {

                        var y=result[0].y;
                        var x=result[0].x;

                        var coords = new kakao
                            .maps
                            .LatLng(result[0].y, result[0].x);

                        //document.write(coords);

                        // 마커 이미지의 이미지 크기 입니다
                        var imageSize = new kakao
                            .maps
                            .Size(65,65);

                        // 마커 이미지를 생성합니다
                        var markerImage = new kakao
                            .maps
                            .MarkerImage(imageSrc, imageSize);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao
                            .maps
                            .Marker({map: map, position: coords, title: "{{studycafe.name}}", image: markerImage});


                        
                        // 커스텀 오버레이에 표출될 내용
                        var content = '<div class="customoverlay">  <a href="https://map.kakao.com/link/to/{{studycafe.name}},'+y+','+x+'"' +
                                ' target="_blank">    <span class="title">'+"{{studycafe.name}}"+'</span>  </a></div>';


                        // 커스텀 오버레이를 생성합니다
                        var customOverlay = new kakao
                            .maps
                            .CustomOverlay({});

                        map.setCenter(coords);
                        

                        customOverlay.setContent(content);
                                
                        customOverlay.setPosition(coords); 
                        customOverlay.setMap(map);
                        customOverlay.setyAnchor(1);
                        /*kakao.maps.event.addListener(marker, 'click', function(mouseEvent) {
                                                     
                            customOverlay.setContent(content);
                                
                            customOverlay.setPosition(coords); 
                            customOverlay.setMap(map);
                            customOverlay.setyAnchor(1);
                        });*/
                        // 커스텀 오버레이를 지도에서 제거합니다 
                        /*kakao.maps.event.addListener(marker, 'click', function() {
        
                            customOverlay.setMap(null);
                        }); */
                    }
                });
            //});
        </script>
    </body>
</html>