<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        var scaaddress=new Array();
        {% for studycafe in studycafe %}
            scaaddress.push('{{studycafe.address}}');
        {%endfor%}    
        for (var i = 0; i < scaaddress.length; i++) {
            document.write(scaaddress[i]+"<br>");
        }
        

    </script>

    <table class="table-contents" style="padding:10px">
        <tr>
            <th>번호</th>
            <th>상호명</th>
            <th>주소</th>
            <th>별점</th>
            <th>리뷰</th>
            <th>영업시간</th>
            <th>전화번호</th>
        </tr>
        {% for studycafe in studycafe %}
            <tr>
                <td>{{studycafe.id}}</td>
                <td>{{studycafe.name}}</td>
                <td>{{studycafe.address}}</td>
                <td>{{studycafe.star_rating}}</td>
                <td>{{studycafe.review}}</td>
                <td>{{studycafe.time}}</td>
                <td>{{studycafe.phone_number}}</td>
            </tr>
            {%endfor%}
        

    </table>                
            

</body>
</html>