<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>스터디카페 찾기</title>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href='/static/css/studycafeMap.css'>

    </head>
    <body>
        <h2>스터디카페 찾기</h2>
        
        
    
        <div id="map"></div>
        <button onclick="location.href='http://127.0.0.1:8000/study'">개설 스터디 현황</button >
            {% comment %} <style>
                button {
                    position: relative;
                    top: 10%;
                    left: 71%;
                }
            </style> {% endcomment %}

        

        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e5546ce50e2833e4db42b281b4b23109&libraries=services"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao
                        .maps
                        .LatLng(37.32191219571723, 127.12659496708484), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao
                .maps
                .Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao
                .maps
                .services
                .Geocoder();
          

            // 마커를 표시할 좌표 및 스터디 카페 배열입니다
            var positions = [
                {
                    title: '가온스터디카페 단국대점',
                    address: '경기 용인시 수지구 죽전로168번길 20 성지프라자 7층',
                    study: '3'
                }, {
                    title: '올라스터디카페 죽전단국대점',
                    address: '경기 용인시 수지구 죽전로 141 우미이노스빌 상가동 2층 201호',
                    study: '5'
                },
                /*{
                    title: '스터디카페 열린공간',
                    latlng: new kakao
                        .maps
                        .LatLng(37.325846926739615, 127.11840179027612),
                    study: '2'
                }, */
                {
                    title: '그루스터디카페 수지죽전센터',
                    address: '경기 용인시 수지구 푸른솔로 87 5층',
                    study: '0'
                }, {
                    title: '뚝심스터디카페',
                    address: '경기 용인시 수지구 대지로 58 가동 3층 305호',
                    study: '1'
                }
            ];

            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            positions.forEach(function (position) { //추가한 코드
                // 주소로 좌표를 검색합니다
                geocoder.addressSearch(position.address, function (result, status) {

                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao
                            .maps
                            .LatLng(result[0].y, result[0].x);

                        // 마커 이미지의 이미지 크기 입니다
                        var imageSize = new kakao
                            .maps
                            .Size(34, 50);

                        // 마커 이미지를 생성합니다
                        var markerImage = new kakao
                            .maps
                            .MarkerImage(imageSrc, imageSize);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao
                            .maps
                            .Marker({map: map, position: coords, title: position.title, image: markerImage});
                        
                        // 인포윈도우로 장소에 대한 설명을 표시합니다 변경한 코드
                        var infowindow = new kakao
                            .maps
                            .InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:6px 0;">' + position.title +
                                        '</div>'
                            });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        //map.setCenter(coords);
                    }
                });
            });
        </script>
    </body>
</html>