<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
        <title>{{studycafe.name}}</title>
        <link rel="stylesheet" href='/static/css/detail.css'>
    </head>
    <body>
        <div class="home">
        <a href="/"><img class="homebtn" src="/static/images/homebtn.png"></img></a></div>
        
        <div>
        <h2 style="text-align: center;">{{studycafe.name}}</h2></div>         

        <div class="container">
            {% comment %} {% for sca in posts %} {% endcomment %}
                <div class="card">                    
                    <div class="card-body">
                        <div class="imgbox">
                        <img class="scaimg" src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191218_102%2F1576635755959dX1j9_JPEG%2F9bKVI9kiwzcnLfKPlBcCUSlR.jpg"></img>
                        </div>
                        {% comment %} <p>{{sca.id}}</p> {% endcomment %}
                        <div class="card-title">
                        <h3>{{studycafe.name}}</h3></div>

                        <div class="like">
                            <form method='post' action=''>
                                {% csrf_token %}
                                <input type="hidden" name="like_button" value="{{studycafe.id}}">
                                <span class="lb"><button class="likebtn" type="submit">찜하기</button></span>
                            </form> </div><div style="clear:both;"></div> 
                        
                            
                        
                        {% comment %} <div class="address"><p>주소 : 
                            {{studycafe.address}}</p></div>
                        <p>별점 :
                            {{studycafe.star_rating}}</p> {% endcomment %}

                        {%load mathfilters%}
                        <div class="star-ratings">
                            {%load mathfilters%}
                            <div class="star-ratings">    
                                <div class="star-ratings-fill" style="width:{{studycafe.star_rating|mul:20}}%">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </div>
                                                                     
                        
                        <p><img class="locationbtn" src="/static/image/location.png"></img> 
                            {{studycafe.address}} </p>
                        {% comment %} <p>별점 :
                            {{studycafe.star_rating}}</p> {% endcomment %}

                        

                        <p><img class="reviewbtn" src="/static/image/review.png">리뷰 :
                            {{studycafe.review}} </p>
                        <button onclick="location.href='/review/write'">리뷰 쓰기</button >
                            <button onclick="location.href='/review/list'">리뷰 보기</button >

                                
{% comment %} 
                                <input type="hidden" name="study_button" value="{{studycafe.id}}">
                                <span><button type="submit">스터디 현황</button>     {% endcomment %}
                                <button onclick="location.href='/blog/sort/{{studycafe.id}}'" >스터디 현황</button >
                        <hr>
                        
                        <p><img class="timebtn" src="/static/image/time.png"></img>
                            {{studycafe.time}}</p>
                        <p><img class="phonebtn" src="/static/image/phone.png"></img> {{studycafe.phone_number}}</p>

                        {% for hashtag in hashtags %}
                            {%if studycafe.id is hashtag.sca_id%}

                                <div class="tag"># {{hashtag.name}}</div>

                            {%endif%}
                        {%endfor%}
                        {% comment %} <p>찜 :
                            {{studycafe.sca_like}}</p> {% endcomment %}
                        <div style="clear:both;"></div>
                        <p style="font-weight: bold"><img class="mapbtn" src="/static/image/map.png"></img><a onclick="location.href='/scamap/{{studycafe.id}}/'">스터디카페 위치 확인</a></p>
                    </div>
                    <p></p>
                </div>
        </div>
                <br></br>
            <p></p>
            
                </body>
            </html>