<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
        <title>스터디카페 목록</title>
        <link rel="stylesheet" href='/static/css/home.css'>
    </head>
    <body>
        <div class="home">
        <a href="/"><img class="homebtn" src="/static/images/homebtn.png"/></a></div>
        <h2 style="text-align: center;">스터디카페 목록</h2>
        
        <div class="sort" align="right">
            <select title="" onchange="window.location.href=this.value">
                <option value="http://127.0.0.1:8000/scainfo/all">기본 순</option>
                <option value="http://127.0.0.1:8000/scainfo/sort_star">별점 순</option>
                <option value="http://127.0.0.1:8000/scainfo/sort_review" selected>리뷰 많은 순</option>
            </select>
        </div>

        <div class="tag" align="left">
        <form method='post' action='{% url 'hashtag' %}'>
            {% csrf_token %}
            <input type="text" name="search_button" placeholder="관련 해시태그 검색 (ex) #노트북존" style="width:300px; background-color: rgb(242, 242, 242)" onfocus="this.placeholder=''" onblur="this.placeholder='관련 해시태그 검색'">
            <button class="btn btn-primary" type="submit">검색</button>
        </form>
        <p></p>
    </div>

        <div class="container">
            {% for sca in posts %}
                <div class="card">
                    <div class="card-body" onclick="location.href='/scainfo/detail/{{sca.id}}'">
                        {% comment %} <p>{{sca.id}}</p> {% endcomment %}
                        <h4 class="card-title">{{sca.name}}<div class="like" align="right">
                            <form method='post' action=''>
                                {% csrf_token %}
                                <input type="hidden" name="like_button" value="{{sca.id}}">
                                <span><button class="likebtn" type="submit">찜하기</button></span>
                            </form> </div> </h4>
                        <p>{{sca.address}}</p>
                        {% comment %} <p>별점 :
                            {{sca.star_rating}}</p> {% endcomment %}

                        {%load mathfilters%}
                        <div class="star-ratings">

                            <div class="star-ratings-fill" style="width:{{sca.star_rating|mul:20}}%">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>

                        <p>리뷰 :
                            {{sca.review}} 
                            {% comment %} <button onclick="location.href='/review/write'">리뷰 쓰기</button > {% endcomment %}
                            </p>
                        {% comment %} <p>영업시간 :
                            {{sca.time}}</p>
                        <p>전화번호 :
                            {{sca.phone_number}}</p> {% endcomment %}

                        {% for hashtag in hashtags %}
                            {%if sca.id is hashtag.sca_id%}

                                <span>#{{hashtag.name}}</span>

                            {%endif%}
                        {%endfor%}
                        {% comment %} <p>찜 :
                            {{sca.sca_like}}</p> {% endcomment %}
                    </div>
                    <p></p>
                </div>
                <br></br>
            {%endfor%}
            <p></p>
            <div style="text-align: center;">
                        
                {% if posts.has_previous %}
                    <a href="?page=1" style="text-decoration: none; color: black;">First | </a>
                    <a href="?page={{posts.previous_page_number}}" style="text-decoration: none; color: black;">Prev </a>
                {% endif %}
                <span> [ {{posts.number}}</span>
                <span>/</span>
                <span>{{posts.paginator.num_pages}} ] </span>
                {% if posts.has_next %}
                    <a href="?page={{posts.next_page_number}}" style="text-decoration: none; color: black;"> Next </a>
                    <a href="?page={{posts.paginator.num_pages}}" style="text-decoration: none; color: black;">| Last</a>
                {% endif %}
                </div>
                    </div>
                    <p></p>
                </body>
            </html>