{% extends 'base.html' %}
{% block contents %}

<div class = "row mt-5">
    <div class = "col-12">
        <div class = "form-group">
            <label for = "title">제목</label>
            <input type = "text" class = "form-control" id = "title" value = "{{board.title}}" readonly>

            <label for = "contents">내용</label>
            <textarea class ="form-control" readonly>{{ board.contents }}</textarea>
        </div>
        <button type = "button" class = "btn btn-primary" onclick = "location.href = '/board/list/'">돌아가기</button>
      
    </div>
        
</div>

<h3> 댓글목록 </h3>
<div id="comment_list">
    {% for comment in board.comment_set.all %}
        <p>{{ comment.body }}</p>
    {% endfor %}
</div>

    <input type="text" id="comment" name="content" placeholder="댓글입력">
    <button onclick="make_comment({{ board_id }})" type="submit" class = "btn btn-primary">작성</button>
    
<br><br>

<script>
    window.onload=function make_comment(board_id){
        $.ajax({
            type: "POST",
            url: "/comment/create",
            data: {
                'board_id' : board_id
                'body' : body,
                'csrfmiddlewaretoken' : '{{csrf_token}}',
            },
            dataType: "json",
            success: function(response);
                console.log(response.message);
                $("#comment_list").append("<p>" + response.body = "</p><hr>");
                $("#comment").val(' ')
            },
        error: function(request, status, error){
            alert(error);
        }),
        }

    
</script>

{% endblock %}



