<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/static/css/area.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="top-bar"
      style="position: fixed; top: 0;
              left: 0;
              width: 100%;
              background-color: white;
              color: #324028;
              padding: 10px;
              z-index: 9999;
              height: 70px;
              border-bottom: 1px solid gainsboro;">
      <a href="/"><img class="home-btn" src="/static/home-img.png"
          style="display:block; position: absolute; top: 20px; right: 50px; left: 34px; width: 30px; height: 30px; background-size: cover;"/></a>        
      <h2 style="margin-left: 80px; margin-top: 5px;">지역으로 찾아보기</h2>
    </div>
    <nav class="minimalist-vertical-menu" style="margin-top: 70px;">
        
        <div class="minimalist-tab-menu">
          <ul class="list-group">
            <li class="menu-item has-child">서울</li>
            <li class="menu-item has-child">경기</li>
            <li class="menu-item has-child">인천</li>
            <li class="menu-item has-child">강원</li>
            <li class="menu-item has-child">제주</li>
            <li class="menu-item has-child">대전</li>
            <li class="menu-item has-child">충북</li>
            <li class="menu-item has-child">충남/세종</li>
            <li class="menu-item has-child">부산</li>
            <li class="menu-item has-child">울산</li>
            <li class="menu-item has-child">경남</li>
            <li class="menu-item has-child">대구</li>
            <li class="menu-item has-child">경북</li>
            <li class="menu-item has-child">광주</li>
            <li class="menu-item has-child">전남</li>
            <li class="menu-item has-child">전주</li>
            <li class="menu-item has-child">전북</li>
          </ul>
        </div>

        <div class="minimalist-tab">

          <div class="minimalist-tab-content"> <!--서울-->
            <div class="menu-dropdown"> 
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">강남/역삼/삼성/논현</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서초/신사/방배</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">잠실/신천(잠실새내)</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">영등포/여의도</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">신림/서울대/사당/동작</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">천호/길동/둔촌</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">화곡/까치산/양천/목동</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">구로/금천/오류/신도림</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">신촌/홍대/합정</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">연신내/불광/응암</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">종로/대학로/동묘앞역</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">성신여대/성북/월곡</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">이태원/용산/서울역/명동/회현</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동대문/을지로/충무로/신당/약수</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">회기/고려대/청량리/신설동</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">장안동/답십리</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">건대/군자/구의</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">왕십리/성수/금호</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">수유/미아</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">상봉/중랑/면목</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">태릉/노원/도봉/창동</div></a></div>            </div>
          </div>

          <div class="minimalist-tab-content"> <!--경기-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">수원 인계/권선/영통</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">수원역/구운/장안/세류</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">안양/평촌/인덕원/과천</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">성남/분당/위례</div></a></div>
              <div class="dropdown-item "><a href="#" onclick="location.href='/scainfo/all/'"><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">용인</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동탄/화성/오산/병점</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">하남/광주/여주/이천</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">안산 중앙역</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">안산 고잔/상록수/선부동/월피동</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">군포/의왕/금정/산본</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">시흥/월곶</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">광명</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">평택/송탄/안성</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">부천</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">일산/고양</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">파주</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">김포</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">의정부</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">구리</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남양주</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">포천</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">양주/동두천/연천</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">양평</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">가평/청평</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">제부도/대부도</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--인천-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">부평</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">구월</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서구</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">계양</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">주안</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">송도/연수</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">인천공항/을왕리/영종도</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">중구</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">강화/옹진</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동암/간석</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남동구</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">용현/숭의/도화/동구</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--강원-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">춘천/강촌</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">원주</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">경포대/사천/주문진/정동진</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">강릉역/교동/옥계</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">영월/정선</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">속초/고성</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">양양</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동해/삼척/태백</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">평창</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">홍천/횡성</div></a></div>
              <div class="dropdown-item "><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">화천/철원/인제/양구</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--제주-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">제주공항 서부</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">제주공항 동부</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서귀포시/중문/모슬포</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">이호테우/하귀/애월/한림/협재</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">함덕/김녕/세화</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남원/표선/성산</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--대전-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">유성구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">중구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">대덕구</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--충북-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">청주 흥덕구/서원구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">청주 상당구/청원구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">충주/수안보</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">제천/단양</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">진천/음성</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">보은/옥천/괴산/증평/영동</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--충남/세종-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">천안 서북구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">천안 동남구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">아산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">공주/동학사/세종</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">계룡/금산/논산/청양</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">예산/홍성</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">태안/안면도/서산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">당진</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">보령/대천해수욕장</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서천/부여</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--부산-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">해운대/센텀시티/재송</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">송정/기장/정관/오리시아</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">광안리/수영</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">경셩대/대연/용호동/문현</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서면/양정/초읍/부산시민공원</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남포동/중앙동/태종대/송도/영도</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">부산역/범일동/부산진역</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">연산/토곡</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동래/사직/미남/온천장/부산대/구서/서동</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">사상/엄궁/학장</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">덕천/화명/만덕/구포</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">하단/명지/김해공항/다대포/강서/신호/괴정/지사</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--울산-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남구/중구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동구/북구/울주군</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--경남-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">창원 상남동/용호동/중앙동/창원시청</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">창원 명서동/봉곡동/팔용동/북면온천/창원종합버스터미널</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">마산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">진해</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">김해/장유</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">양산/밀양</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">진주</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">거제/통영/고성</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">사천/남해</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">하동/산청/함양</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">거창/함안/창녕/합천/의령</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--대구-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동성로/서문시장/대구역/경북대/엑스코</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">동대구역/신천동/수성못/범어/라이온즈파크/알파시티/시지</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">대구공항/혁신도시/동촌유원지/팔공산/아시아폴리스</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">서대구역/북부정류장/평리/비산/칠곡지구/동천동/금호지구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">두류/이월드/본리동/죽전동/서부정류장/앞산공원/안지랑/대명동/봉덕동</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">성서/계명대/상인동/대곡/현풍/테크노폴리스/가창/달성군</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--경북-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">포항/남구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">포항/북구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">경주</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">구미</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">경산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">안동</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">영천/청도</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">김천/칠곡/성주</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">문경/상주/영주/예천/군위/의성/봉화</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">울진/영덕/청송</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">울릉도</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--광주-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">상무지구/금호지구/유스퀘어/서구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">충장로/대인시장/국립아시아문화전당/동구/남구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">첨단지구/양산동</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">하남/광주여대/송정역/광산구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">광주역/기아챔피언스필드/전대사거리/북구</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--전남-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">여수</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">순천</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">광양</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">목포</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">무안/영암/신안</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">나주/함평/영광/장성</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">담양/곡성/화순/구례</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">해남/완도/진도/강진/장흥/보성/고흥</div></a></div>
            </div>
          </div>

          <div class="minimalist-tab-content"> <!--전주/전북-->
            <div class="menu-dropdown">
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">전주 덕진구</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">전구 완산구/완주</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">군산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">익산</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">남원/임실/순창/무주/진안/장수</div></a></div>
              <div class="dropdown-item"><a href=""><div style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">정읍/부안/김제/고창</div></a></div>
            </div>
          </div>

        </div>

    </nav>
    <script src="/static/javascript/area.js"></script>
</body>
</html>