{% extends 'blog/baseone.html' %}
{% block content %}
    <div class="post">
        <div class="d-grid gap-3">
            <div class="card" style="width: 50rem;">
                <div class="card-header" style="background-color:#D9D1C7;">
                    <h1>토익 공부 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="badge rounded-pill" style="background-color:#324028;">신청완료</span>
                    </h1>
                    <h5>글쓴이: 선아</h5>
                </div>
                <div class="card-body">  
                    <p>장소 | 가온스터디카페 단국대점</p>
                    <p>날짜 | 목요일</p>
                    <p>시간 | 09:00:00~11:00:00</p>
                    <p>제한인원 | 5</p>
                    <div class="date">2023년 5월 31일</div>
                </div>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="d-grid gap-3">
            <div class="card" style="width: 50rem;">
                <div class="card-header" style="background-color:#D9D1C7;">
                    <h1>일본어 공부
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="badge rounded-pill" style="background-color:#324028;">신청완료</span>
                    </h1>
                    <h5>글쓴이: 보란</h5>
                </div>
                <div class="card-body">  
                    <p>장소 | 플랜에이스터디카페 용인수지센터</p>
                    <p>날짜 | 수요일</p>
                    <p>시간 | 12:00:00~14:00:00</p>
                    <p>제한인원 | 4</p>
                    <div class="date">2023년 5월 31일</div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
    