{% extends 'blog/baseone.html' %}
    {% block content %}

        {% for post in paginated_list %}
          
                <div class="post">
                    <div class="d-grid gap-3">
                    <div class="card" style="width: 30rem;">
                        <div class="card-header">
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <h5>글쓴이: {{ post.author }}</h5>
                        </div>
                        <div class="card-body">  
                            <p>장소 | {{ post.study_place|linebreaksbr }}</p>
                            <p>날짜 | {{ post.study_day|linebreaksbr }}</p>
                            <p>시간 | {{ post.start_time|linebreaksbr }}~{{ post.end_time|linebreaksbr }}</p>
                            <p>제한인원 | {{ post.limit_people|linebreaksbr }}</p>
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
        {% endfor %}
    

    <nav aria-label="study_pagination">
        <ul class="pagination">
        {% if paginated_list.has_other_pages %}
        <li class="page-item">
            
            {% if paginated_list.has_previous %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ paginated_list.previous_page_number }}" aria-label = "Previous">
                        <span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            {% for page in paginator.page_range %}
            {% if page >= paginated_list.number|add:-5 and page <= paginated_list.number|add:5 %}
            {% if page == paginated_list.number %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if paginated_list.has_next %}
            <li class = "page-item">
                <a class="page-link" href="?page={{ paginated_list.next_page_number }}" aria-label = "Next">
                    <span aria-hidden="true">&raquo;</span></a>
            </li>
            {% endif %}
        </li>   
        </ul>
        {% endif %}
    </nav>
    {% endblock %}