{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% comment %} # 추가 {% endcomment %}
        {% if messages %}
        <div class = "alert alert-danger post" role="alert">
            {% for message in messages%}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.messages }}</li></ul>
            {% endfor %}
        </div>
        {% endif %}

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <h5>글쓴이: {{ post.author }}</h5>
        <hr>
        <p>장소 | {{ post.study_place|linebreaksbr }}</p>
        <p>날짜 | {{ post.study_day|linebreaksbr }}</p>
        <p>시간 | {{ post.start_time|linebreaksbr }}~{{ post.end_time|linebreaksbr }}</p>
        <p>기간 | {{ post.start_date|linebreaksbr }}~{{ post.end_date|linebreaksbr }}</p>
        <p>세부정보 | {{ post.text|linebreaksbr }}</p>
        <p>제한인원 | {{ post.limit_people|linebreaksbr }}</p>
        <p><span>신청인원 | <span id="count"> 0</span></p>

        <script>

            const plusBtn = document.createElement('button');
            let plusBtnText = document.createTextNode('신청')
            plusBtn.style.background= "#a69958";
            plusBtn.style.color = "#ffffff";
            plusBtn.style.textAlign = 'center';
            plusBtn.style.fontSize = '12pt';

            plusBtn.appendChild(plusBtnText);
        
            document.body.appendChild(plusBtn);

            let valTag = document.getElementById('count');
            console.log(valTag.innerHTML);
            let val = valTag.innerHTML;

            plusBtn.addEventListener("click", clickPlusBtn);
            function clickPlusBtn(){
                val++;
                console.log(val);
                valTag.innerText=val;
                alert("신청완료")
            }
          

        </script>
          
{% endblock %}




