{% extends 'blog/base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
{% block content %}
    <div class="post">
        {% comment %} # 추가 {% endcomment %}
        {% if messages %}
        <div class = "alert alert-danger post" role="alert">
            {% for message in messages%}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.messages }}</li></ul>
            {% endfor %}
        </div>
        {% endif %}

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <h5>글쓴이: {{ post.author }}</h5>
        <hr>
        <p>장소 | {{ post.study_place|linebreaksbr }}</p>
        <p>날짜 | {{ post.study_day|linebreaksbr }}</p>
        <p>시간 | {{ post.start_time|linebreaksbr }}~{{ post.end_time|linebreaksbr }}</p>
        <p>기간 | {{ post.start_date|linebreaksbr }}~{{ post.end_date|linebreaksbr }}</p>
        <p>세부정보 | {{ post.text|linebreaksbr }}</p>
        <p>제한인원 | {{ post.limit_people|linebreaksbr }}</p>
        <p><span>신청인원 | <span id="count"> 0</span> &nbsp;&nbsp;<button id="apply" class="btn text-white" style="background-color: #734A32;" > 신청 </button></p>
        

        <script>

            const plusBtn = document.getElementById('apply');
            plusBtn.style.fontSize = '12pt';
           
            let valTag = document.getElementById('count');
            console.log(valTag.innerHTML);
            let val = valTag.innerHTML;

            plusBtn.addEventListener("click", clickPlusBtn);
            function clickPlusBtn(){
                val++;
                console.log(val);
                valTag.innerText=val;
                alert("신청완료")
            }
          

        </script>
          
{% endblock %}




