{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <p>장소 | {{ post.study_place|linebreaksbr }}</p>
        <p>날짜 | {{ post.study_day|linebreaksbr }}</p>
        <p>시간 | {{ post.start_time|linebreaksbr }}~{{ post.end_time|linebreaksbr }}</p>
        <p>기간 | {{ post.start_date|linebreaksbr }}~{{ post.end_date|linebreaksbr }}</p>
        <p>제한인원 | {{ post.limit_people|linebreaksbr }}</p>
        신청인원🧑‍💻<p id="count">  0</p>
        <script>
            const plusBtn = document.createElement('button');
            let plusBtnText = document.createTextNode('신청')
            plusBtn.style.background= "#a69958";
            plusBtn.style.color = "#ffffff";
            plusBtn.style.textAlign = 'center';
            plusBtn.style.fontSize = '10pt';
            plusBtn.style.borderColor = 'white';
            plusBtn.appendChild(plusBtnText);
        
            document.body.appendChild(plusBtn);

            let valTag = document.getElementById('count');
            console.log(valTag.innerHTML);
            let val = valTag.innerHTML;

            plusBtn.addEventListener("click", clickPlusBtn);
            function clickPlusBtn(){
                val++;
                console.log(val);
                valTag.innerText=val;
                alert("신청완료")
            }
          

        </script>
          
{% endblock %}




