{% block contents %}

<html lang="ko">
<head>
    <title>SCA CONNECT</title>
    <link href="static/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <a href="/" class="logo">SCA CONNECT</a>
        <ul>
            {% if request.session.user %}
            <li><a href="#" class="active">주변</a></li>   
            <li><a href="#" onclick="location.href='/area/'">지역</a></li>
            <li><a href="#" onclick="location.href='/scainfo/like/'">찜</a></li>
            <li><a href="#" onclick="location.href='/board/list/'">커뮤니티</a></li>
            <li><a href="#" onclick="location.href='/myPage/'">마이</a></li>
            <li><a href="#" onclick="location.href='/accounts/logout/'">로그아웃</a></li>
            {% else %}
            <li><a href="#" onclick="location.href='/accounts/login/'">로그인</a></li>
            <li><a href="#" onclick="location.href='/accounts/register/'">회원가입</a></li>
            {% endif %}
        </ul>
    </header>
    
    <section>
        <h2 id="text"><span>주변의 스터디카페를 찾아보세요</span><br><br>SCA CONNECT</h2>
        
        <img src="https://user-images.githubusercontent.com/65358991/170092504-132fa547-5ced-40e5-ab64-ded61518fac2.png" id="bird1">
        <img src="https://user-images.githubusercontent.com/65358991/170092542-9747edcc-fb51-4e21-aaf5-a61119393618.png" id="bird2">
        <img src="https://user-images.githubusercontent.com/65358991/170092559-883fe071-eb4f-4610-8c8b-a037d061c617.png" id="forest">
        
        <a href="#" id="btn" onclick="location.href='/scamap/'">찾아보기</a>
        
        <img src="https://user-images.githubusercontent.com/65358991/170092616-5a70c4af-2eed-496f-bde9-b5fcc7142a31.png" id="water">
    </section>
    
    <div class="sec">
        <div class="ment"><h3>이런 스터디카페는 어떠세요?</h3></div><br>
        <div class="cardlist">
            <a href=# class="card" onclick="location.href='/scainfo/detail/8/'">
                <img src="https://modo-phinf.pstatic.net/20200109_217/1578534984095S5e3E_JPEG/mosaquJxjL.jpeg?type=w720" class="card-img-top" style="width: 17.9rem; height: 14rem;" alt="...">
                <div class="card-body"><p class="card-text">팝스스터디카페 강남대점</p></div>
            </a>
            <a href=# class="card" onclick="location.href='/scainfo/detail/85/'">
                <img src="https://search.pstatic.net/common/?autoRotate=true&type=w560_sharpen&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20211203_91%2F1638538958919Vvsl1_JPEG%2F58193E70-4C5B-4ED2-AA91-2D865AD3F816.jpeg" class="card-img-top"  style="width: 17.9rem; height: 14rem;" alt="...">
                <div class="card-body"><p class="card-text">플래닛스터디 카페 성복점</p></div>
            </a>
            <a href=# class="card" onclick="location.href='/scainfo/detail/18/'">
                <img src="https://search.pstatic.net/common/?autoRotate=true&type=w560_sharpen&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191022_90%2F157170927582271Xp1_JPEG%2FvnrSCmvQb4mod6_iOyQVmKbB.jpg" class="card-img-top"  style="width: 17.9rem; height: 14rem;" alt="...">
                <div class="card-body"><p class="card-text">르하임스터디카페 용인보정점</p></div>
            </a>
        </div>
    </div>
    
    <script>
        let text = document.getElementById('text');
        let bird1 = document.getElementById('bird1');
        let bird2 = document.getElementById('bird2');
        let btn = document.getElementById('btn');
        let forest = document.getElementById('forest');
        let water = document.getElementById('water');
        let header = document.getElementById('header');
        
        window.addEventListener('scroll', function() {
            let value = window.scrollY;
            
            text.style.top = 50 + value * -.1 + '%';
            bird2.style.top = value * -1.5 + 'px';
            bird2.style.left = value * 2 + 'px';
            bird1.style.top = value * -1.5 + 'px';
            bird1.style.left = value * -5 + 'px';
            btn.style.marginTop = value * 1.5 + 'px';
            forest.style.top = value * .25 + 'px';
            header.style.top = value * .5 + 'px';
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}