{% extends "base.html" %}
{% block contents %}

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Mypage</title>
    <link rel="stylesheet" href="static/index.css">
  </head>
  <body>
    <h3>마이페이지</h3>

    {% if request.session.user %}
      {% for u in User %}
      <h5> {{ u.username }} </h5>
      {% endfor %}
    <div class="col-6 text-center">
        
        <button><i class="fa fa-commenting-o" aria-hidden="true"></i>리뷰</button>
        <button><i class="fa fa-users" aria-hidden="true">참여 스터디</i></button>
    </div>
    {% endif %}
  
   

</html>
{% endblock %}
