@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;;
}
.tag{
  height: 100px;
}
.tag-img{
  width: 110px; 
  margin-right: 30px;
  float: left;
}
.tag-name{
  width: 110px;
  height: 40px;
  background-color: #D9D1C7;
  border-radius: 20px;  
  margin-right: 30px;
  margin-bottom: 0;
  text-align : center;
  line-height : 40px;
  float: left;
}

h3{
  margin-bottom: 15px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

.homebtn{
  width: 40px;
  /* height: 30px; */
}

.locationbtn{
  width: 30px;
}

.timebtn{
  width: 25px;
}

.mapbtn{
  width: 30px;
}

.phonebtn{
  width: 25px;
}

.reviewbtn{
  width: 30px;
}

.home{
  width: 650px;
  margin: auto;
  margin-bottom: 0;
}

/* h2 { text-align: center; } */

/* .imgbox{
    text-align: center;

} */
.card-title{
  /* position: relative; */
  margin-bottom: 0;
  float: left;
}

.like{
  /* position: relative; */
  /* margin-left: 50px; */
  height: 72.39px;
  float: right;
}
.lb{
  line-height: 80.37px;
  vertical-align: middle;
}
.likebtn{
  /* display:block; */
  /* color: white; */
  /* width: 35px; 
  height: 35px; 
  line-height:40px;  */
  border:1px #734A32 solid;
  /* margin:15px auto;  */
  background-color:white; 
  text-align:center; 
  cursor: pointer;  
  color:#333; 
  transition:all 0.9s, color 0.3;
}

/* .address{
  position: ;
} */

.scaimg{
    width: 590px;
    margin-top: 20px;

}

select{
  text-align-last: center;
  text-align: center;
  background-color: rgb(242, 242, 242)
}

.likebtn:hover{
  box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset, 
                   -200px 0 0 0 rgba(0,0,0,0.25) inset;
}

.sort {
  width: 650px;
  margin: auto;
}
.btns{
  margin-top: 10px;
  height: 70px;
}

.wbtn{
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.rbtn{
  margin-top: 10px;
  /* margin-left: 35px; */
  float: left;
}

.sbtn{
  margin-top: 10px;
  /* text-align: center; */
}

.card{
  /* background-color: #D9D1C7; */
  width: 650px;
  height: auto;
  border: 5px solid #734A32;
  margin: auto;
}

.card-body{
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}


.star-ratings {
  float: left;
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
  }
   
  .star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
  }
   
  .star-ratings-base {
    z-index: 0;
    padding: 0;
  }